<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% comment %}
    <script src="{{ '/assets/js/jquery.min.js' | relative_url }} "></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
    <link href="{{  '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet" type="text/css">
{% endcomment %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/morestyle.css' | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

{% comment %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active visible-xs-block"><a href="{{ site.baseurl }}/about/">About</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/workshops/">Workshops</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/who/">Who</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/partners/">Partners</a></li>
<!--
                    <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
                    {% if site.github != '' %}
                      <li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
                    {% endif %}
-->
                </ul>
              </div>
        </div>
    </div>
</div>
{% endcomment %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <div class="logos,center">
            <a href="https://www.mun.ca/" target="_blank"><img src="{{ '/' | absolute_url }}assets/images/mun_logo.svg" title="Memorial University of Newfoundland" class="center" width="200px"></a><br />
            <a href="https://carpentries.org/" target="_blank"><img src="{{ '/' | absolute_url }}assets/images/carpentries-hex-white.svg" title="The Carpentries"  class="center" width="125px"></a><br />
            <a href="https://software-carpentry.org/" target="_blank"><img src="{{ '/' | absolute_url }}assets/images/swc_logo-blue.svg" title="Software Carpentry" class="center" width="200px"></a><br />
            <a href="https://datacarpentry.org/" target="_blank"><img src="{{ '/' | absolute_url }}assets/images/DC1_logo.svg" title="Data Carpentry" class="center" width="160px"></a><br />
            <a href="https://www.ace-net.ca/" target="_blank"><img src="{{ '/' | absolute_url }}assets/images/acenet_logo.svg" title="ACENET" class="center" width="225px"></a><br />
          </div>
{% comment %}
          {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
          {% endif %}
          {% if site.github.is_user_page %}
            <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
          {% endif %}
{% endcomment %}
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
